body {
    margin-left: 200px;
    margin-right: 200px;
}

.logo {
    width: 100px;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(58, 57, 59);
}

.link {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px;
    color: #4BFFFF;
}

.linkp {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    text-align: center;
    color: #4BFFFF;
    padding-top: 30px;
    padding-bottom: 10px;
}

h2 {
    text-align: center;
    color: #4BFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #3a393b;
    color: #4BFFFF;
    text-align: center;
}

.contenue {
    background-color: rgb(58, 57, 59);
}

.banniere {
    width: 100%;
    height: 300px;
    border-top: solid white 7px;
    border-bottom: solid white 7px;
}

p {
    color: #4BFFFF;
}

.contenuePres {
    display: flex;
    justify-content: space-between;
    border-bottom: solid white 7px;
}

.alexia {
    width: 400px;
    height: 300px;
    padding: 20px;
    border-radius: 70px;
}

.textPres {
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    width: 400px;
}

.voyageUn {
    display: flex;
    justify-content: space-between;
    border-top: solid white 7px;
    border-bottom: solid white 7px;
}

.textUn {
    width: 500px;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
}

.textDeux {
    width: 500px;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
}

.voyageDeux {
    display: flex;
    justify-content: space-between;
    border-top: solid white 7px;
    border-bottom: solid white 7px;
}

.imgUn {
    width: 500px;
    border-right: solid white 5px;
}

.imgDeux {
    width: 500px;
    border-left: solid white 5px;
}

form {
    text-align: center;
    background-image: url("plage2_voyage.jpg");
    background-size: cover;

}

.C1 {
    margin-bottom: 30px;
    padding-top: 30px;
}

.C2 {
    margin-bottom: 30px;
}

.C3 {
    margin-bottom: 30px;
}

.C4 {
    margin-bottom: 30px;
}

.C5 {
    margin-bottom: 30px;
}

button {
    transition-duration: 0.4s;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    margin-bottom: 70px;
  }
  
  button:hover {
    background-color: rgb(49, 214, 255);
    color: beige;
  }

textarea {
    width: 50%;
    height: 80px;
    resize: none;
    border: solid black;
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: solid black;
  }

label {
    width: 50%;
    color: #4BFFFF;
    display: inline-flex;
}

.infos {
    border: solid black;
    width: 50%;
    height: 40px;
}

.logoo {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.foot {
    display: flex;
    justify-content: space-between;
    background-color: rgb(58, 57, 59);
    border-top: solid White 20px;
}

.foot2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 400px) {
    body {
        margin-left: 0px;
        margin-right: 0px;
    }
    .imgUn {
        width: 187px;
    }

    .imgDeux {
        width: 187px;
    }

    .alexia {
        width: 350px;
    }

    .banniere {
        height: 231px;
    }

    .contenuePres {
        flex-direction: column-reverse;
    }
}